.otp-input-container{
    display: flex;
    align-items: center;
    gap:12px;
}
.otp-input-box{
    border:1px solid black;
    width:50px;
    height:50px;
    border-radius: 10px;
    text-align: center;
    color: black;
    font-size: 24px;
    font-weight: 600;
    -moz-appearance: textfield;
}
.otp-input-box:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}